/* About Us */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
	background: linear-gradient(-150deg, #FCE943, #aa2424, #000000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

*{
    font-family: 'Poppins';
    text-decoration: none;
}

/* Navbar */
.navbar ul {
    margin-left: 50px;
    padding-top: -90px;
    display: flex;
    list-style: none;
    align-items: center;
    width: 364px;
   
  }
  
  .navbar li {
    position: relative;
  
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  nav.nav-custom{
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;
    z-index: inherit;
  }
  
  .nav-right{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links-custom{
    width: 25%;
    display:  flex;
    justify-content: space-between;
  }

/* Heading Start */

.h-custom{
    position: absolute;
    width: 1000px;
    left: 680px;
    top: 180px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 50px;

}

h1.h1-custom{
    position: absolute;
    height: 45px;
    left: 190px;
    top: 250px;
}