@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
	background: linear-gradient(-150deg, #FCE943, #aa2424, #000000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	
}

*{
    text-decoration: none;
    font-family: 'Poppins';
}

/* Navbar */
.navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin-left: 1000px;
    margin-top: 0px;
    padding-top: 50px;
    display: flex;
    list-style: none;
    align-items: center;
    width: 364px;
   
  }
  
  .navbar li {
    position: relative;
 
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
  }

nav.nav-custom{
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;
    z-index: inherit;
}

.nav-right{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links-custom{
    width: 25%;
    display:  flex;
    justify-content: space-between;
}

a.link-secondary{
    text-decoration: none;
    color:white;
}

.btn btn-primary{
    background: rgb(252,233,67);
    background: linear-gradient(130deg, rgba(252,233,67,1) 48%, rgba(133,121,16,1) 100%);
    position: absolute;
    width: 281px;
    height: 60px;
    left: 777px;
    top: 631px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 16px;
    border: 0px solid;
    transition: 0.3s ease-out;
}

button.btn-primary-custom:hover{
    transform: scale(1.02);
    transition: 0.3s ease-in;
    box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.25);
}
/* Heading & Paragraph */

h1.h1-custom{
    position: absolute;
    width: 342px;
    height: 45px;
    left: 880px;
    top: 200px;
    bottom: 100px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 45px;
}

p.p-secondary{
    position: absolute;

    width: 533px;
    height: 209px;
    left: 877px;
 
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
}
.row{
    margin: 5px;
}

